<script type="text/javascript">
    function down() {
        
    }
</script>
<a href="javascript:down();" class="btn btn-info">DOWNLOAD</a>
<div id="viewer" style="width:690px;">
<%for(var i=0; i < data.length; i++){%>
    <img src="<%=data[i]%>" />
<%}%>
</div>
